.firebaseimgholder{
    background-image: url("firebase_img.png");
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width:0px) and (max-width:380px){
    .headingcontact{
        font-size: 20px;
    }
};

@media (min-width:380px) and (max-width:481px){
    .headingcontact{
        font-size: 30px;
    }
};